body {
    font-family: Roboto;
    margin: 0;
    min-height: 100vh;
}

.content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.header1 {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: white;
}

.line1_left {
    display: flex;
    margin-left: 500px;
    margin-top: 10px;
}

.line1_right > ul {
    margin-right: 500px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.line1_right > ul > li {
    margin-right: 50px;
}

.header2 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.line2_left {
    margin-left: 500px;
    display: flex;
    flex-direction: column; 
}

.line2_left > button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.line2_right {
    margin-right: 540px;
    margin-bottom: 10px;
    display: flex;
}

.middle1 {
    border: 1px solid rgba(9, 117, 171, 0.831);
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.middle1 > h3 {
    display: flex;
    justify-content: center;
}

.mid1_information {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 52px;
    margin-bottom: 50px;
  }

.mid1_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
  }

.mid1_info img {
    height: 150px;
    width: 150px;
    border: 5px solid rgb(38, 108, 183);
    border-radius: 10px;
} 

.middle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a8a8a8fe;
}

.middle2 > h4 {
    display: flex;
    justify-content: start;
    font-style: italic;
    max-width: 200px;
    margin-bottom: 0;
    color: 43525d;
}

.middle2 > h5 {
    padding-left: 120px;
    margin-top: 0;
    color: white;
}

.bottom {
    display: flex;
    padding: 36px;
}

.bottom_container {
    border: 1px solid rgba(9, 117, 171, 0.831);
    border-radius: 15px;
    display: flex;
    margin-left: 450px;
    min-width: 950px;
    background-color: #3882f6;
    color:white;
}
 
.bottom_left > h4 {
    margin-left: 100px;
    margin-bottom: 0px;
    min-width: 500px;
    max-width: 500px;
}

.bottom_left > h5 {
    margin-left: 100px;
    margin-top: 0px;
    min-width: 500px;
    max-width: 500px;
}

.bottom_right {
    display: flex;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.bottom_right > button {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
}